*{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main{
  background-color: white;
}
.container{
  position: relative;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  border-radius: 10px;
  border:3px solid white;
}
.oslo{
  background-image: url(../img/oslo.jpg);
  background-position: 50% 30% ;
}
.amsterdam{
  background-image: url(../img/amsterdam.JPG);
  background-position: 50% 10% ;
}
.rotterdam{
  background-image: url(../img/rotterdam.jpg);
  background-position: 50% 30% ;
}
.layout{
  height: 100%;
  width: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8));
  border-radius: 5px;

}
.titolo{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  left:50vw;
  top:50vh;
  transform: translate(-50%,-50%);
  font-size: calc(10px + 6vmin) ;
  color: rgba(255,255,255,0.9);
}
